/* Extra small devices (Phones, 600px and down) */
@media only screen and (max-width: 600px){

    :root{

        --pageWidth: 100%;
        --bannerText: 1.1rem;
        --cartHeight: 45px;


        /* -- PRODUCTS -- */
        --productWidth:220px;
        --productHeight:220px;
        --productImageWidth:160px;
        --productImageHeight:160px;
        --productIconWidth:65px;

        /* -- BUSINESS -- */
        --BpictureWidth: 85%;
        --BfontSize: 1.6rem;

    }

    #Logo{
        display:none;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    :root{
        --pageWidth: 100%;
        --bannerText: 1.4rem;
        --cartHeight: 60px;

        /* -- PRODUCTS -- */
        --productWidth:240px;
        --productHeight:240px;
        --productImageWidth:200px;
        --productImageHeight:200px;
        --productIconWidth:90px;

        /* -- BUSINESS -- */
        --BpictureWidth: 75%;
        --BfontSize: 2rem;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {



}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){

}


@media only screen and (min-width: 1200px) {

}