@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

body{
    height:100vh;
    margin:0;
    display:flex;
    justify-content: center;
}

*{
    transition: var(--animation);
}

.PageContainer{
    width: var(--pageWidth);
    height: fit-content;
    background-color: var(--pageBgColor);
}



.banner{
    height:var(--bannerHeight);
    width:100%;
    background-color: var(--bannerColor);

    #juice-banner{
        margin-top:10px;
        width:100%;
        display:block;
    }

    .banner-btns {
        display:flex;
        justify-content: space-around;
        align-items: center;
        padding-top:10px;

        .cart-section{
            display:flex;
            justify-content: center;
        }

        #Logo{
            width: 90px;
            padding:8px;
            transform:scale(1.25);
        }

        #cartIcon{
            width:60px;
            height:40px;
            margin-top:10px;
            padding:8px;
            cursor:pointer;
        }


        p{
            font-family: "Single Day", cursive;
            font-weight:bold;
            letter-spacing: 3px;
            color:white;
            cursor:pointer;
            font-size:var(--bannerText);
        }
    }
}



/* -- Volkan -- */
.center-content{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction:column;


    .text-section{
        font-family: "Single Day", cursive;
        font-size: 3.5rem;
        font-weight: bold;
        color: #000000;
        margin-bottom: 30px;
        line-height: 1.6;
    }

    .image-section{
        max-width: 1000px;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }

    .button-section {
        margin-top: 150px;
    }

    .explore-button {
        font-family: "Single Day", cursive;
        width: 300px;
        height: 75px;
        background-color: #4E8600;
        color: white;
        padding: 14px 28px;
        font-size: 3rem;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        transition: background-color 0.3s ease;

        &:hover{
            background-color: #3e9642;
        }
    }
}

.image-footer img {
    width: 100%;
    display: block;
}












/* -- Simon -- */